body{
	font-family:"p", sans-serif;
    margin: 0;
}


header{
    height: 60px;
    text-align: center;
    background: #222;
    color: white;
    font-size: 20px;
}

nav{
    margin: 0;
    position: relative;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 20px;
}

a:link {color:antiquewhite;} 

a:visited {color:antiquewhite;} 

a:hover {color:darkred;} 

a:active {color:black;}

a.skip-to-content-link{
    font-size: 10px; 
    font-weight: bold;
    color: darkred;
}

main.gallery{
    width: auto;
    height: auto;
    padding: 50px;
    border: 1px solid black;
    background-color: rgba(204, 183, 194, 0.8);
}

main{
    width: auto;
    height: auto;  
    padding: 50px;
    border: 1px solid black;
    background-color: rgba(204, 183, 194, 0.8);
}

h1{
	font-size: 30px; 
    color:rgba(22,22,22,0.8);
    padding: 5px;
    font-weight: bold;
    margin: 5px;
}

h2{
    font-size: 25px; 
    color:rgba(22,22,22,0.8);
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}
aside{
    padding: 10px;
    text-align: left;
    background: rgba(131, 118, 125, 0.8);
    color: darkred;
    font-size: 5px;
}
p{
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin: 5px;
    border: 1px dashed antiquewhite;
}


img.gallery{
    transition: .5s ease;
    max-width: 300px;
    height: auto;
}

figure.gallery {
    margin: 10px 5px;
    border: 1px antiquewhite;
    border-style: solid;
    padding: 1px;
    float: left;
}

img{
    transition: .5s ease;
    max-width: 300px;
    height: auto;
    border: 1px antiquewhite;
    border-style: double;
    margin: 10px 5px;
    padding: 3px;
}
img:hover{
    box-shadow: 0 0 0 5px darkred;
    transition: .5s ease;
}


figcaption{
    font-size: 10px; 
    padding: 15px;
    color:rgba(22,22,22,0.8);
    font-weight: lighter;
}

footer{
    padding: 10px;
    text-align: center;
    background: black;
    color: white;
    font-size: 20px;
}

#mission {
    background: url('../images/background1.JPG');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: auto;
    color: antiquewhite;
}

main.gallery h1{
    width: 19em;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 3.5s steps(15, end), blink-caret .75s step-end infinite;
    overflow: hidden;

}
@keyframes typing {
    from { width: 0; }
    to { width: 19em; }
}
@keyframes blink-caret {
    from, to { box-shadow: 1px 0 0 0 transparent; }
    50% { box-shadow: 1px 0 0 0;
        border-color: darkred; }
}
@media (prefers-reduced-motion) {
    main.gallery h1{
        animation: none;
    }
}
@media screen and (max-width: 480px){
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
    }

    main.gallery{
        flex-direction: column;
    }
}
@media screen and (min-width: 481px){
    header { grid-area: header; }
    main { grid-area: main; }
    aside{ grid-area: aside; }
    label{ grid-area: label; }
    footer{ grid-area: footer; }
    body{
        display: grid;
        grid-template-areas:
            'header header header header header header'
            'aside main main main main main'
            'aside main main main main main'
            'footer footer footer footer footer footer';
    }
    main.gallery{
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:center;
    }
}
